body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(88, 88, 88);
  padding: 15px;
  border-radius: 10px;
  gap: 3px;
}

.display {
  grid-column: 1/ 5;
  text-align: end;
  height: 100px;
  background-color: rgb(231, 231, 232);
  font-size: 80px;
  border-radius: 10px;
}

.calculatorBody button {
  background-color: rgb(246, 236, 222);
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: large;
  font-weight: bolder;
}

.calculatorBody .plus_negative {
  width: 205px;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(195, 191, 185);
}

.calculatorBody .clear {
  background-color: rgb(195, 191, 185);
}

.calculatorBody .operator {
  background-color: rgb(255, 196, 85);
}

.calculatorBody .equals {
  background-color: rgb(255, 196, 85);
}
.calculatorBody #zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 205px;
  border-radius: 10px;
}
